<!-- RESTAURANT LIST GRID -->
<% @restaurants.each do |restaurant| %>
	<div class="col-xs-4 col-md-4">
	    <% if user_signed_in? %>
	    	<a class="thumbnail" href="<%= restaurant_path(restaurant) %>"><%= restaurant.name %><img src="<%= restaurant.photo %>"></a>
	    	<% else %>
	        <a class="thumbnail" href="<%= new_user_registration_path %>"><%= restaurant.name %><img src="<%= restaurant.photo %>"></a>
	    <% end %>
	</div>
<% end %>

<!-- user_session_path -->